.icon-vote-up { background-image: url(../images/arrow_090.png); }
.icon-vote-down { background-image: url(../images/arrow_270.png); }
span.votes-positive { color: green; font-weight: bold }
span.votes-negative { color: red; font-weight: bold }
